<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>GHMail</title>
<meta name="viewport" content="width=device-width" />
</head>
<body>

	<div>
		<header>
			<h1>
				Hello, <span th:text="${userId}"></span>
			</h1>
		</header>

		<nav>
		<div>
				<a href="/compose">Compose Email</a>
			</div>
			<div
				th:insert="components/generic-folder-list :: generic-folder-list (folderListHeader = 'Default Folders', folders = ${defaultFolders})"></div>
			<div
				th:insert="components/generic-folder-list :: generic-folder-list (folderListHeader = 'User Folders', folders = ${userFolders})"></div>
		</nav>

		<main>
			<div>
				<div>Create New Email</div>
				<dl>
					<form th:attr="action=@{'/sendEmail'}" method="POST">
					<input type="hidden" th:name="${_csrf.parameterName}"  th:value="${_csrf.token}" />
						<div>
							<label for="toIds">To</label> 
							<input type="text" th:value="${toIds}"
								id="toIds" name="toIds" aria-describedby="toIdsHelp">
							<div id="toIdsHelp">GitHub Ids as csv.</div>
						</div>
						<div>
							<label for="subject">Subject</label> 
							<input type="text"
								id="subject" name="subject" aria-describedby="subjectHelp">
							<div id="subjectHelp">Email Subject.</div>
						</div>
						<div>
							<label for="body">Body</label>
							<textarea rows="12" type="text"
								name="body" id="body"></textarea>
						</div>
						<button type="submit">Submit</button>
					</form>
				</dl>
			</div>
		</main>

		<footer> Footer </footer>
	</div>
</body>
</html>
