<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>GHMail</title>
<meta name="viewport" content="width=device-width" />
</head>
<body>

	<div>
		<header>
			<h1>
				Hello, <span th:text="${userId}"></span>
			</h1>
		</header>

		<nav>
			<div class="card">
				<a href="/compose">Compose Email</a>
			</div>
			<div
				th:insert="components/generic-folder-list :: generic-folder-list (folderListHeader = 'Default Folders', folders = ${defaultFolders})"></div>
			<div
				th:insert="components/generic-folder-list :: generic-folder-list (folderListHeader = 'User Folders', folders = ${userFolders})"></div>
		</nav>

		<main>
			<div>
				<div>View Email</div>
				<div>
					<dl>
						<dt>From</dt>
						<dd th:text="${email.from}"></dd>
						<dt>To</dt>
						<dd th:text="${toIds}"></dd>
						<dt>Subject</dt>
						<dd th:text="${email.subject}"></dd>
						<dt>Body</dt>
						<dd th:text="${email.body}"></dd>
					</dl>
					<div class="d-grid gap-2 d-md-flex justify-content-md-end">
						<a th:href="@{'/compose?to=' + ${email.from}}" type="button">Reply</a>
						<a th:href="@{'/compose?to=' + ${toIds} + ',' + ${email.from}}" type="button">Reply All</a>
					</div>
				</div>
			</div>
		</main>

		<footer> Footer </footer>
	</div>
</body>
</html>
