<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>GHMail</title>
<meta name="viewport" content="width=device-width" />
</head>
<body>

	<div>
		<header>
			<h1>
				Hello, <span th:text="${userId}"></span>
			</h1>
		</header>

		<nav>
			<div>
				<a href="/compose">Compose Email</a>
			</div>
			<div
				th:insert="components/generic-folder-list :: generic-folder-list (folderListHeader = 'Default Folders', folders = ${defaultFolders})"></div>
			<div
				th:insert="components/generic-folder-list :: generic-folder-list (folderListHeader = 'User Folders', folders = ${userFolders})"></div>
		</nav>

		<main>
			<div th:if="${emailList}">
				<div th:text="${folderLabel}"></div>
				<div>
					<div>
						<a th:each="emailListItem: ${emailList}"
							th:href="@{'/emails/' + ${emailListItem.key.timeUUID} + '?folder=' + ${folderLabel}}"
							th:classappend="${emailListItem.isUnread} ? 'list-group-item-primary': ''"
							aria-current="true">
							<div>
								<h5 th:text="${emailListItem.subject}"></h5>
								<small th:text="${emailListItem.humanTime}">3 days ago</small>
							</div>
							<p th:text="${emailListItem.to}">Some
								placeholder content in a paragraph.</p>
						</a>
					</div>
				</div>
			</div>
		</main>

		<footer> Footer </footer>
	</div>

</body>
</html>
